<!-- ============================================ -->
<!--               Before And After               -->
<!-- ============================================ -->

<section id="gallery-1897">
    <div class="bespoke-container">
        <div class="bespoke-content">
            <div class="bespoke-flex">
                <span class="bespoke-topper">Our Gallery</span>
                <h2 class="bespoke-title">
                    Witness The Difference and Our Results
                </h2>
            </div>
            <a class="bespoke-button-solid" href="/services/">View All</a>
        </div>
        <div class="bespoke-gallery">
            <div class="bespoke-item">
                <p class="bespoke-item-text">Bedroom Deep Cleaning</p>
                <div class="bespoke-picture-group">
                    <picture class="bespoke-picture">
                        <source
                            media="(max-width: 600px)"
                            srcset="/assets/images/before-after/bed-before.avif"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="/assets/images/before-after/bed-before.avif"
                        />
                        <img
                            loading="lazy"
                            decoding="async"
                            src="/assets/images/before-after/bed-before.avif"
                            alt="bed before"
                            width="305"
                            height="400"
                        />
                    </picture>
                    <span class="bespoke-tag">Before</span>
                </div>
                <div class="bespoke-picture-group">
                    <picture class="bespoke-picture">
                        <source
                            media="(max-width: 600px)"
                            srcset="/assets/images/before-after/bed-after.avif"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="/assets/images/before-after/bed-after.avif"
                        />
                        <img
                            loading="lazy"
                            decoding="async"
                            src="/assets/images/before-after/bed-after.avif"
                            alt="bed after"
                            width="305"
                            height="400"
                        />
                    </picture>
                    <span class="bespoke-tag">After</span>
                </div>
            </div>
            <div class="bespoke-item">
                <p class="bespoke-item-text">Bathroom Deep Cleaning</p>
                <div class="bespoke-picture-group">
                    <picture class="bespoke-picture">
                        <source
                            media="(max-width: 600px)"
                            srcset="
                                /assets/images/before-after/faucet-before.avif
                            "
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="
                                /assets/images/before-after/faucet-before.avif
                            "
                        />
                        <img
                            loading="lazy"
                            decoding="async"
                            src="/assets/images/before-after/faucet-before.avif"
                            alt="faucet before"
                            width="305"
                            height="400"
                        />
                    </picture>
                    <span class="bespoke-tag">Before</span>
                </div>
                <div class="bespoke-picture-group">
                    <picture class="bespoke-picture">
                        <source
                            media="(max-width: 600px)"
                            srcset="
                                /assets/images/before-after/faucet-after.avif
                            "
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="
                                /assets/images/before-after/faucet-after.avif
                            "
                        />
                        <img
                            loading="lazy"
                            decoding="async"
                            src="/assets/images/before-after/faucet-after.avif"
                            alt="faucet after"
                            width="305"
                            height="400"
                        />
                    </picture>
                    <span class="bespoke-tag">After</span>
                </div>
            </div>
            <div class="bespoke-item">
                <p class="bespoke-item-text">Living Space Cleaning</p>
                <div class="bespoke-picture-group">
                    <picture class="bespoke-picture">
                        <source
                            media="(max-width: 600px)"
                            srcset="
                                /assets/images/before-after/living-before.avif
                            "
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="
                                /assets/images/before-after/living-before.avif
                            "
                        />
                        <img
                            loading="lazy"
                            decoding="async"
                            src="/assets/images/before-after/living-before.avif"
                            alt="living room before"
                            width="305"
                            height="400"
                        />
                    </picture>
                    <span class="bespoke-tag">Before</span>
                </div>
                <div class="bespoke-picture-group">
                    <picture class="bespoke-picture">
                        <source
                            media="(max-width: 600px)"
                            srcset="
                                /assets/images/before-after/living-after.avif
                            "
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="
                                /assets/images/before-after/living-after.avif
                            "
                        />
                        <img
                            loading="lazy"
                            decoding="async"
                            src="/assets/images/before-after/living-after.avif"
                            alt="living room after"
                            width="305"
                            height="400"
                        />
                    </picture>
                    <span class="bespoke-tag">After</span>
                </div>
            </div>
            <div class="bespoke-item">
                <p class="bespoke-item-text">Kitchen Deep Cleaning</p>
                <div class="bespoke-picture-group">
                    <picture class="bespoke-picture">
                        <source
                            media="(max-width: 600px)"
                            srcset="
                                /assets/images/before-after/stove-before.avif
                            "
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="
                                /assets/images/before-after/stove-before.avif
                            "
                        />
                        <img
                            loading="lazy"
                            decoding="async"
                            src="/assets/images/before-after/stove-before.avif"
                            alt="stove before"
                            width="305"
                            height="400"
                        />
                    </picture>
                    <span class="bespoke-tag">Before</span>
                </div>
                <div class="bespoke-picture-group">
                    <picture class="bespoke-picture">
                        <source
                            media="(max-width: 600px)"
                            srcset="
                                /assets/images/before-after/stove-after.avif
                            "
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="
                                /assets/images/before-after/stove-after.avif
                            "
                        />
                        <img
                            loading="lazy"
                            decoding="async"
                            src="/assets/images/before-after/stove-after.avif"
                            alt="stove after"
                            width="305"
                            height="400"
                        />
                    </picture>
                    <span class="bespoke-tag">After</span>
                </div>
            </div>
        </div>
    </div>
</section>
