<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Serving Edmonton & Nearby Cities
        </h2>
        <p>
            We proudly provide professional cleaning services throughout 
            <b>Edmonton, Sherwood Park, St. Albert, Leduc, and nearby areas.</b>
        </p>
        <div>
            <div class="card">
                <p>Call or Text: </p>
                <p>780-394-6644</p>
            </div>
            <div class="card">
                <p>Email: </p>
                <p>yeg.carpetclean@gmail.com</p>
            </div>
            <p>Visit us: </p>
            <img src="" class="facebook-img" alt="facebook">
            <div class="btn-container">
                <a href="#" class="bespoke-button-solid">Get a Free Quote</a>
                <a href="#" class="bespoke-button-solid">Call Us Today</a>
            </div>
        </div>
    </div>
    <!-- <div class="container">
        <h2 class="title">
            Get Your Space Cleaned 
            <br />
            Homes, Offices, and Carpets Ready for Move-In or Move-Out!
        </h2>
        <p>
            Book Now and get 15% Off First Time Customer
        </p>
        <a href="/contact" class="bespoke-button-solid">Get an Estimate Now</a>
    </div> -->
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/about-us-optimized.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/about-us-optimized.webp">
        <img aria-hidden="true" decoding="async" src="/assets/images/about-us-optimized.webp" alt="kitchen cabinets"
            loading="lazy" width="2500" height="1667">
    </picture>

</section>