<section id="why-choose-1550">
    <div class="bespoke-container">
    <div id="bespoke-content">
        <h2 class="bespoke-title">Why Choose Us</h2>
    </div>
        <ul class="bespoke-card-group">
            <li class="bespoke-item">
                <div class="bespoke-icon-wrapper">
                    <img class="bespoke-icon" loading="lazy" decoding="async"
                            src="{{ client.domain }}/assets/svgs/satisfaction.svg" alt="icon"
                            width="48" height="48">
                </div>
                <div class="bespoke-flex">
                    <h2 class="bespoke-h2">Locally Owned & Operated</h2>
                    <small class="bespoke-text">
                        Dust It Off Cleaning Services is a family-run business committed to delivering top-quality service with a personal touch.
                    </small>
                </div>
            </li>
            <li class="bespoke-item">
                <div class="bespoke-icon-wrapper">
                    <img class="bespoke-icon" loading="lazy" decoding="async"
                            src="{{ client.domain }}/assets/svgs/local.svg"
                            alt="icon" width="48" height="48">
                </div>
                <div class="bespoke-flex">
                    <h2 class="bespoke-h2">Professionally Trained</h2>
                    <small class="bespoke-text">
                        Our team is extensively trained to provide a deep, thorough clean that exceeds expectations.
                    </small>
                </div>
            </li>
            <li class="bespoke-item">
                <div class="bespoke-icon-wrapper">
                    <img class="bespoke-icon" loading="lazy" decoding="async"
                            src="{{ client.domain }}/assets/svgs/value.svg" alt="icon"
                            width="48" height="48">
                </div>
                <div class="bespoke-flex">
                    <h2 class="bespoke-h2">Licensed, Insured & Bonded</h2>
                    <small class="bespoke-text">
                        We are fully licensed, bonded, and insured, ensuring reliability and peace of mind.
                    </small>
                </div>
            </li>
            <li class="bespoke-item">
                <div class="bespoke-icon-wrapper">
                    <img class="bespoke-icon" loading="lazy" decoding="async"
                            src="{{ client.domain }}/assets/svgs/outstanding.svg" alt="icon"
                            width="48" height="48">
                </div>
                <div class="bespoke-flex">
                    <h2 class="bespoke-h2">Customized Cleaning Solutions</h2>
                    <small class="bespoke-text">
                        Equipped with the right tools and expertise, we tailor our services to meet your specific cleaning needs.
                    </small>
                </div>
            </li>
        </ul>
    </div>
    <picture class="bespoke-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/why-choose-us-bg.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/why-choose-us-bg.webp">
        <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/why-choose-us-bg.webp" alt="texture" width="1920" height="550">
    </picture>
</section>
