<section id="why-choose-1550">
    <div class="bespoke-container">
    <div id="bespoke-content">
        <h2 class="bespoke-title">Why Choose Us</h2>
    </div>
        <ul class="bespoke-card-group">
            <li class="bespoke-item">
                <div class="bespoke-icon-wrapper">
                    <img class="bespoke-icon" loading="lazy" decoding="async"
                            src="{{ client.domain }}/assets/svgs/satisfaction.svg" alt="icon"
                            width="48" height="48">
                </div>
                <div class="bespoke-flex">
                    <h2 class="bespoke-h2">3+ Years of Trusted Cleaning Service in Edmonton</h2>
                </div>
            </li>
            <li class="bespoke-item">
                <div class="bespoke-icon-wrapper">
                    <img class="bespoke-icon" loading="lazy" decoding="async"
                            src="{{ client.domain }}/assets/svgs/local.svg"
                            alt="icon" width="48" height="48">
                </div>
                <div class="bespoke-flex">
                    <h2 class="bespoke-h2"> Eco-Friendly & Safe Cleaning Products</h2>
                </div>
            </li>
            <li class="bespoke-item">
                <div class="bespoke-icon-wrapper">
                    <img class="bespoke-icon" loading="lazy" decoding="async"
                            src="{{ client.domain }}/assets/svgs/value.svg" alt="icon"
                            width="48" height="48">
                </div>
                <div class="bespoke-flex">
                    <h2 class="bespoke-h2">Affordable & Transparent Pricing</h2>
                </div>
            </li>
            <li class="bespoke-item">
                <div class="bespoke-icon-wrapper">
                    <img class="bespoke-icon" loading="lazy" decoding="async"
                            src="{{ client.domain }}/assets/svgs/outstanding.svg" alt="icon"
                            width="48" height="48">
                </div>
                <div class="bespoke-flex">
                    <h2 class="bespoke-h2"> Experienced & Insured Cleaners</h2>
                </div>
            </li>
            <li class="bespoke-item">
                <div class="bespoke-icon-wrapper">
                    <img class="bespoke-icon" loading="lazy" decoding="async"
                            src="{{ client.domain }}/assets/svgs/outstanding.svg" alt="icon"
                            width="48" height="48">
                </div>
                <div class="bespoke-flex">
                    <h2 class="bespoke-h2">100% Customer Satisfaction Guarantee</h2>
                </div>
            </li>
        </ul>
    </div>
    <picture class="bespoke-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/why-choose-us-bg.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/why-choose-us-bg.webp">
        <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/why-choose-us-bg.webp" alt="texture" width="1920" height="550">
    </picture>
</section>
