---
title: 'About | Dust It Off Cleaning Services'
description: 'About Dust It Off Cleaning Services-'
preloadImg: '/assets/images/cta-bg.webp'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">About Us</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/cta-bg.webp">
        <img aria-hidden="true" decoding="async" src="{{ client.domain }}/assets/images/cta-bg.webp"" alt="kitchen cabinets"
            loading="eager" width="2500" height="1667">
    </picture>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs">
    <div class="bespoke-container">
        <!-- Left Image Section -->
        <div class="bespoke-left">
            <picture class="bespoke-picture bespoke-picture1">
                <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/1.jpg">
                <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/1.jpg">
                <img aria-hidden="true" decoding="async" src="{{ client.domain }}/assets/images/1.jpg" alt="cabinets"
                    loading="lazy" width="400" height="563">
            </picture>
            <picture class="bespoke-picture bespoke-picture2">
                <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/3.jpg">
                <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/3.jpg">
                <img aria-hidden="true" decoding="async" src="{{ client.domain }}/assets/images/3.jpg" alt="about us"
                    loading="lazy" width="400" height="563">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="bespoke-right">
            <span class="bespoke-topper">About Us</span>
            <h2 class="bespoke-title">Dust it off Cleaning Services</h2>
            <p class="bespoke-text">
                At Dust It Off Cleaning Services, we provide reliable and top-quality cleaning for homes and businesses across Edmonton. Our services include move-in/move-out cleaning, residential and commercial cleaning, show home cleaning, and post-construction/renovation cleaning.
            </p>
            <p class="bespoke-text">
                We take pride in delivering exceptional results with a focus on integrity and customer satisfaction, ensuring every space is fresh, spotless, and inviting.
            </p>
            <div class="bespoke-flex-group">
                <p class="bespoke-flex-p">
                    We understand that moving is stressful. Our cleaning services ensure your new or old space is spotless, welcoming, and ready for the next chapter.
                </p>
                <span class="bespoke-name">Aizah Mc Paspe</span>
                <span class="bespoke-job">Owner-Operator</span>
                <img class="bespoke-quote-icon" loading="lazy" decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136"
                    height="77" />
            </div>
            <a href="tel:{{ client.phoneForTel }}" class="bespoke-button-solid">Call for FREE Estimate</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
    <div class="bespoke-container">
        <div class="bespoke-content">
            <h3 class="bespoke-title">15% discount for new customers!</h3>
            <a href="tel:{{client.phoneForTel}}" class="bespoke-button-solid">Call Now</a>
        </div>
    </div>
    <!-- Background Image-->
    <picture class="bespoke-picture">
        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/cta-bg.webp">
        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/cta-bg.webp">
        <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/cta-bg.webp" alt="cabinets" width="1920" height="1280" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--            Extra Content To Rank             -->
<!-- ============================================ -->

<section id="sbs-r">
    <div class="bespoke-container">
        <!-- Left Image Section -->
        <div class="bespoke-left">
            <picture class="bespoke-picture bespoke-picture1">
                <source media="(max-width: 600px)" srcset="/assets/images/sample.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/sample.webp">
                <img aria-hidden="true" decoding="async" src="/assets/images/sample.webp" alt="house"
                    loading="lazy" width="400" height="560">
            </picture>
            <picture class="bespoke-picture bespoke-picture2">
                <source media="(max-width: 600px)" srcset="/assets/images/2.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/2.jpg">
                <img aria-hidden="true" decoding="async" src="/assets/images/2.jpg" alt="cabinets"
                    loading="lazy" width="400" height="560">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="bespoke-right">
            <span class="bespoke-topper">Edmonton Cleaning Services</span>
            <h2 class="bespoke-title">Designed for Movers, Landlords, Home Builders, and Realtors</h2>
            <h3 class="bespoke-text">
                At Dust It Off Cleaning Services, we specialize in providing tailored cleaning solutions for specific industries:
            </h3>
            <ul>
                <li>
                    <b>Movers: </b>
                    <p class="bespoke-text">
                        Cleaning before or after moving, ensuring homes are spotless for the next occupants or ready to be settled into.
                    </p>
                </li>
                <li>
                    <b>Landlords: </b>
                    <p class="bespoke-text">
                        Deep cleaning of rental properties, making them move-in ready for new tenants and maintaining a fresh environment.
                    </p>
                </li>
                <li>
                    <b>Home Builders: </b>
                    <p class="bespoke-text">
                        Post-construction cleaning to remove dust, debris, and ensure the home is pristine and ready for inspection or occupancy.
                    </p>
                </li>
                <li>
                    <b>Realtors: </b>
                    <p class="bespoke-text">
                        Pre-sale cleaning to enhance a property's appeal, making it inviting and showcasing its full potential to buyers.
                    </p>
                </li>
            </ul>
            </p>
            <h3 class="bespoke-text">
                Our services are designed to make each transition smooth, efficient, and spotless!
            </h3>
            <a href="/blog" class="bespoke-button-solid">Read our Blog</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--               Before And After               -->
<!-- ============================================ -->

{% include "components/before-after.html" %}

{% include 'components/cta.html' %}

{% endblock %}
