---
title: 'About | Dust It Off Cleaning Services'
description: 'About Dust It Off Cleaning Services-'
preloadImg: '/assets/images/cta-bg.webp'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">About Us</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/cta-bg.webp">
        <img aria-hidden="true" decoding="async" src="/assets/images/cta-bg.webp" alt="kitchen cabinets"
            loading="eager" width="2500" height="1667">
    </picture>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs">
    <div class="bespoke-container">
        <!-- Left Image Section -->
        <div class="bespoke-left">
            <picture class="bespoke-picture bespoke-picture1">
                <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/1.jpg">
                <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/1.jpg">
                <img aria-hidden="true" decoding="async" src="{{ client.domain }}/assets/images/1.jpg" alt="cabinets"
                    loading="lazy" width="400" height="563">
            </picture>
            <picture class="bespoke-picture bespoke-picture2">
                <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/3.jpg">
                <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/3.jpg">
                <img aria-hidden="true" decoding="async" src="{{ client.domain }}/assets/images/3.jpg" alt="about us"
                    loading="lazy" width="400" height="563">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="bespoke-right">
            <span class="bespoke-topper">About Us</span>
            <h2 class="bespoke-title">Dust it off Cleaning Services</h2>
            <p class="bespoke-text">
                At Dust It Off Cleaning Services, we provide reliable and top-quality cleaning for homes and businesses across Edmonton. Our services include move-in/move-out cleaning, residential and commercial cleaning, show home cleaning, and post-construction/renovation cleaning.
            </p>
            <p class="bespoke-text">
                We take pride in delivering exceptional results with a focus on integrity and customer satisfaction, ensuring every space is fresh, spotless, and inviting.
            </p>
            <div class="bespoke-flex-group">
                <p class="bespoke-flex-p">
                    We understand that moving is stressful. Our cleaning services ensure your new or old space is spotless, welcoming, and ready for the next chapter.
                </p>
                <span class="bespoke-name">Aiza Mc Paspe</span>
                <span class="bespoke-job">Owner-Operator</span>
                <img class="bespoke-quote-icon" loading="lazy" decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136"
                    height="77" />
            </div>
            <a href="{{ client.phoneForTel }}" class="bespoke-button-solid">Call for FREE Estimate</a>
        </div>
    </div>
</section>



<!-- ============================================ -->
<!--            Side By Side Reverse              -->
<!-- ============================================ -->

<section id="sbsr-457">
    <div class="bespoke-container">
        <div class="bespoke-content">
            <span class="bespoke-topper">Edmonton Cleaning Services</span>
            <h2 class="bespoke-title">Designed for Movers, Landlords, Home Builders, and Realtors</h2>
            <p class="bespoke-text">
                At Dust It Off Cleaning Services, we specialize in providing tailored cleaning solutions for specific industries:
            </p>
            <ul class="bespoke-list">
                <li><strong>Movers:</strong> Cleaning before or after moving, ensuring homes are spotless for the next occupants or ready to be settled into.</li>
                <li><strong>Landlords:</strong> Deep cleaning of rental properties, making them move-in ready for new tenants and maintaining a fresh environment.</li>
                <li><strong>Home Builders:</strong> Post-construction cleaning to remove dust, debris, and ensure the home is pristine and ready for inspection or occupancy.</li>
                <li><strong>Realtors:</strong> Pre-sale cleaning to enhance a property's appeal, making it inviting and showcasing its full potential to buyers.</li>
            </ul>
            <p class="bespoke-text">Our services are designed to make each transition smooth, efficient, and spotless!</p>
        </div>
        <picture class="bespoke-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/2.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/2.jpg">
            <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/2.jpg" alt="cleaning services" width="649" height="617">
        </picture>
    </div>
</section>

                                

{% include 'components/cta.html' %}

{% endblock %}