---
title: 'Reviews | Dust It Off Cleaning Services'
description: 'Dust It Off Cleaning Services - 5 Star Reviews!'
preloadImg: '/assets/images/cta-bg.webp'
permalink: 'reviews/'
eleventyNavigation:
    key: Reviews
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/reviews.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Our Reviews</h1>
    <picture class="bespoke-picture">
        <source media="(max-width: 600px)" srcset="/assets/images/landing-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/landing.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/landing.jpg" alt="new home" width="2500"
            height="1667" loading="eager">
    </picture>
</section>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1088">
    <div class="bespoke-container">
        <div class="bespoke-content">
            <span class="bespoke-topper">Testimonials</span>
            <h2 class="bespoke-title">Words From Our Customers</h2>
        </div>
        <ul class="bespoke-card-group">
            <li class="bespoke-item">
                <img class="bespoke-image" src="{{ client.domain }}/assets/images/profile.png" alt="profile" width="112" height="112" aria-hidden="true" decoding="async" loading="lazy">
                <img class="bespoke-icon" src="{{ client.domain }}/assets/images/quotes.png" alt="icon" width="52" height="36" aria-hidden="true" decoding="async" loading="lazy">
                
                <p class="bespoke-item-text">
                    Highly recommended! Reliable, punctual and professional service.
                    I’ve been a regular customer for the last 3 years and have recommended them to several other friends because the service is top notch.
                </p>
                <div class="bespoke-flex">
                    <span class="bespoke-name">Bruno B.</span>
                    <span class="bespoke-desc">March 8, 2025</span>
                    ⭐⭐⭐⭐⭐
                </div>
            </li>
            <li class="bespoke-item">
                <img class="bespoke-image" src="{{ client.domain }}/assets/images/profile.png" alt="profile" width="112" height="112" aria-hidden="true" decoding="async" loading="lazy">
                <img class="bespoke-icon" src="{{ client.domain }}/assets/images/quotes.png" alt="icon" width="52" height="36" aria-hidden="true" decoding="async" loading="lazy">
                <p class="bespoke-item-text">
                    Aizah has been cleaning my house for over 2 years. It always looks great when she’s done. She pays attention to details and is strong on initiative. I highly recommend her and her staff. Responsible and reliable.
                </p>
                <div class="bespoke-flex">
                    <span class="bespoke-name">Tracy Bz</span>
                    <span class="bespoke-desc">March 9,2025</span>
                    ⭐⭐⭐⭐⭐
                </div>
            </li>
            <li class="bespoke-item">
                <img class="bespoke-image" src="{{ client.domain }}/assets/images/profile.png" alt="profile" width="112" height="112" aria-hidden="true" decoding="async" loading="lazy">
                <img class="bespoke-icon" src="{{ client.domain }}/assets/images/quotes.png" alt="icon" width="52" height="36" aria-hidden="true" decoding="async" loading="lazy">
                <p class="bespoke-item-text">
                    Really friendly and professional. Arrived on time and did exactly what I asked for. They are always able to work around my schedule. Highly recommend.
                </p>
                <div class="bespoke-flex">
                    <span class="bespoke-name">Nicole Stusek</span>
                    <span class="bespoke-desc">March 9,2025</span>
                    ⭐⭐⭐⭐⭐
                </div>
           
    
            </li>
        </ul>
    </div>
</section>

{% include 'components/cta.html' %}

{% endblock %}