---
title: 'Services | Dust It Off Cleaning Services'
description: 'Book Cleaning Service in YEG'
preloadImg: '/assets/images/cta-bg.webp'
permalink: 'services/'
eleventyNavigation:
    key: Services
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Services</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/cta-bg.webp">
            <img aria-hidden="true" decoding="async" src="{{ client.domain }}/assets/images/cta-bg.webp"" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="hero-1299" class="bespoke-services-only">
        <div class="bespoke-container">
            <ul class="bespoke-card-group">
                <li class="bespoke-item">
                    <a href="/services/general/" class="bespoke-link">
                        <img aria-hidden="true" decoding="async" src="/assets/svgs/service3.svg" class="bespoke-icon" alt="residential" width="48" height="48" />
                        <h3 class="bespoke-h3">Residential Cleaning</h3>
                        <p class="bespoke-item-text">
                            <ul class="bespoke-ul">
                                <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Move In / Move Out</li>
                                <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Before / After Events</li>
                                <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Senior Living Spaces</li>
                            </ul>
                        </p>
                    </a>
                </li>
                <li class="bespoke-item">
                    <a href="/services/show/" class="bespoke-link">
                        <img aria-hidden="true" decoding="async" src="/assets/svgs/service2.svg" class="bespoke-icon" alt="residential" width="48" height="48" />
                        <h3 class="bespoke-h3">Commercial Cleaning</h3>
                        <p class="bespoke-item-text">
                            <ul class="bespoke-ul">
                                <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Offices</li>
                                <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Airbnb</li>
                                <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Places of Worship</li>
                                <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Showrooms</li>
                                <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Classrooms</li>
                                <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Schools Daycare</li>
                            </ul>
                        </p>
                    </a>
                </li>
                <li class="bespoke-item">
                    <a href="/services/move/" class="bespoke-link">
                        <img aria-hidden="true" decoding="async" src="/assets/svgs/service1.svg" class="bespoke-icon" alt="residential" width="48" height="48" />
                        <h3 class="bespoke-h3">Carpet Cleaning</h3>
                        <p class="bespoke-item-text">
                            <ul class="bespoke-ul">
                                <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Steam Cleaning</li>
                                <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Carpet Shampoo</li>
                                <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Deep Cleaning</li>
                                <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Stain Removal</li>
                                <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Deodorizing</li>
                                <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Area Rug & Upholstery Cleaning</li>
                            </ul>
                        </p>
                    </a>
                </li>
            </ul>
        </div>
        <!--Floating Arrow-->
    </section>

    <!-- ============================================ -->
    <!--               Before And After               -->
    <!-- ============================================ -->

    {% include "components/before-after.html" %}

    <!-- ============================================ -->
    <!--                     CTA                      -->
    <!-- ============================================ -->

    <section id="cta-51">
        <div class="bespoke-container">
            <div class="bespoke-content">
                <h3 class="bespoke-title">15% discount for new customers!</h3>
                <a href="tel:{{client.phoneForTel}}" class="bespoke-button-solid">Avail</a>
            </div>
        </div>
        <!-- Background Image-->
        <picture class="bespoke-picture">
            <source media="(max-width: 600px)" srcset="{{client.domain}}/assets/images/cta-bg.webp">
            <source media="(min-width: 601px)" srcset="{{client.domain}}/assets/images/cta-bg.webp">
            <img loading="lazy" decoding="async" src="{{client.domain}}/assets/images/cta-bg.webp" alt="cabinets" width="1920" height="1280" aria-hidden="true">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery">
        <div class="bespoke-container">
            <span class="bespoke-topper">Our Portfolio</span>
            <h2 class="bespoke-title">Residential and Commercial Carpet Cleaning</h2>
            <p class="bespoke-text">We offer Complete Residential and Commercial Cleaning Services, including move-in/move-out cleaning, office cleaning, Airbnb turnover services, and more.</p>
            <div class="bespoke-image-group">
                <!-- Row 1-->
                <div class="bespoke-row bespoke-row-1">
                    <!-- To add more images, copy and paste this row's picture tags here in order from bespoke-picture-1 to bespoke-picture-3 and they will maintain the same layout-->
                    <picture class="bespoke-picture bespoke-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/1.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/1.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/1.jpg" alt="gallery 1"
                            loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="bespoke-picture bespoke-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/2.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/2.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/2.jpg"
                            alt="gallery 2" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="bespoke-picture bespoke-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/3.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/3.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/3.jpg"
                            alt="gallery 3" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 2 -->
                <div class="bespoke-row bespoke-row-2">
                    <!-- To add more images, copy and paste this row's picture tags here in order from bespoke-picture-1 to bespoke-picture-3 and they will maintain the same layout-->
                    <picture class="bespoke-picture bespoke-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/4.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/4.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/4.jpg" alt="gallery 4"
                            loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="bespoke-picture bespoke-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/5.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/5.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/5.jpg"
                            alt="gallery 5" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="bespoke-picture bespoke-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/6.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/6.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/6.jpg"
                            alt="gallery 6" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 3 -->
                <div class="bespoke-row bespoke-row-3">
                    <!-- To add more images, copy and paste this row's picture tags here in order from bespoke-picture-1 to bespoke-picture-3 and they will maintain the same layout-->
                    <picture class="bespoke-picture bespoke-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/7.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/7.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/7.jpg" alt="gallery 7"
                            loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="bespoke-picture bespoke-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/8.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/8.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/8.jpg"
                            alt="gallery 8" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="bespoke-picture bespoke-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/9.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/9.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/9.jpg"
                            alt="gallery 9" loading="lazy" width="400" height="560">
                    </picture>
                </div>
            </div>
            <a href="/gallery/" class="bespoke-button-solid">View Full Gallery</a>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}
